.pw-gen{
    padding: 50px;
    background: #1F2937;
    color: #fff;
    width: min(100% - 2rem, 600px);
    margin-inline: auto;

    &__title{
        font-family: $secondary-font;
    }

    &__body{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        padding-block: 40px  
    }

    &__box{
        background: #273549;
        display: grid;
        place-content: center;
        color: #55F991;
    }
} 